---
layout: compress
---

<!-- TODO Implement all CSS as legit SCSS -->
<!-- TODO Right image isn't relevant anymore on mobile -->
{% include head.html %}
<header class="header flex" role="banner">
    <div class="container">
      <!-- Begin BidVertiser code -->
     <SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=749295&bid=1849731" TYPE="text/javascript"></SCRIPT>
     <!-- End BidVertiser code --> 
        <div class="row">
            <div class="col-lg-6 hidden-xs hidden-sm container-left animated fadeIn" style="background-image:url('{{ site.assets }}/img/volvo-interior-medium.jpg'); background-size: cover; height: 457px;"></div>
            <div class="col-lg-6 container-right animated fadeIn">
                <div class="row">
                    <a href="{{ site.url }}{{ site.baseurl }}/">
                      <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}{{ site.baseurl }}/">
                            <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
    	                  </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}{{ site.baseurl }}/">
                            <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
        	              </a>
                    </h3>
                    {% include social-links.html %}
                    <hr class="hr-line">
                    <div class="btn-group">
                        <a href="{{ site.baseurl }}/about/">
                            <button class="btn zoombtn title">About</button>
                        </a>
                        <a href="{{ site.baseurl }}/blog/">
                            <button class="btn zoombtn title" href="{{ site.baseurl }}/posts/">Blog</button>
                        </a>
                        <a href="{{ site.baseurl }}/projects/">
                            <button class="btn zoombtn title" href="{{ site.baseurl }}/projects/">Projects</button>
                        </a>
                    </div>
                    <hr class="hr-line">
                </div>
            </div>
        </div>
    </div>
</header>
{% include foot.html %}
